<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="/fragments/head :: header"></head>
    <title>eCompany - Welcome!</title>
  </head>

  <body>
    <!-- ============================================================== -->
    <!-- main wrapper -->
    <!-- ============================================================== -->
    <div class="dashboard-main-wrapper">
      <!-- ============================================================== -->
      <div th:replace="/fragments/header :: header"></div>
      <div th:replace="/fragments/left-sidebar :: left-sidebar"></div>
      <!-- wrapper  -->
      <!-- ============================================================== -->
      <div class="dashboard-wrapper">
        <div class="dashboard-ecommerce">
          <div class="container-fluid dashboard-content">
            <!-- ============================================================== -->
            <!-- pageheader  -->
            <!-- ============================================================== -->
            <br>
               <h2>Welcome to eTask Application</h2>
            <!-- ============================================================== -->
            <!-- end pageheader  -->
            <!-- ============================================================== -->
          </div>
        </div>
        <!-- ============================================================== -->

        <!-- ============================================================== -->
      </div>
      <!-- ============================================================== -->
      <!-- end wrapper  -->
      <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- end main wrapper  -->
    <!-- ============================================================== -->

    <div th:replace="/fragments/javascript :: js"></div>

  </body>
</html>
