<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <Style></Style>
    <meta name="Lala">
</head>


<body>

   Welcome to  front end java developer team!!!
thanks man

   <h1>Spring Boot</h1>
   <h2>Spring Boot</h2>
   <h3>Spring Boot</h3>

<h1 align="center" style="color:blue">Spring Framework</h1>
<img src="springboot.png" alt="Spring Boot Image">

<ul>
    <li>MVC</li>
    <li>ORM</li>
    <li>API</li>

</ul>

<a href="https://www.amazon.com/">Amazon</a>

    <table>
        <tr>
            <td>IoC</td>
            <td>DI</td>
            <td>Boot</td>
        </tr>
    </table>


    <label>User Name:</label>
    <input type="text" name="username"><br>

    <label>Password:</label>
    <input type="password" name="password"><br>

   <label>Please select your favorite Subject:</label><br>
   <input type="radio" name="Spring" value="IoC" checked="checked">IoC
   <input type="radio" name="Spring" value="DI" >DI
   <input type="radio" name="Spring" value="ORC" >ORC
   <input type="radio" name="Spring" value="WEB" >WEB

   <br>
   <label>Please select your Company:</label><br>
   <input type="checkbox" name="company" value="Bank of America">BOA
   <input type="checkbox" name="company" value="Amazon" >AM
   <input type="checkbox" name="company" value="Microsoft" >MS

   <br>
   <label>Please select your Car</label><br>
   <select name="cars">
       <option value="honda">Honda</option>
       <option value="Mercedes">Mercedes</option>
       <option value="Lamborghini">Lamborghini</option>
       <option value="Ferrari">Ferrari</option>
   </select>


<form action="" method="get">
     First name:<input type="text" name="first_name"/>

    <br>

    Last name:<input type="text" name="Last_name"/>


</form>


<div>
    <h3>
        <ul>
            <li>Spring Framework</li>
            <li>Spring boot</li>
        </ul>
    </h3>

</div>


</body>

</html>